[Unit]
Description="ReID-Camera Service"
After=network.target

[Service]
WorkingDirectory=/home/komorilab/ReID-Camera/src
ExecStart="/home/User/ReID-Camera/.venv/bin/python ./src/main.py"
StandardOutput=inherit
StandardError=inherit
Restart=always
User=komorilab

[Install]
WantedBy=multi-user.target
